

@media only screen and (max-width: 600px) {
     div{
        padding-top:40%;
    }
   
 }

 @media only screen and (max-width: 600px){
 input[type=email],input[type=password]{
width: 80%;
}
}

 /* input[type=submit],input[type=reset] {
    background-color: #4CAF50;
    color: white;
    padding: 1% 1%;    
    border: none;
    cursor: pointer;    
    border-radius:10%;
} */
input[type=email],input[type=password] {
    border: none;
    border-bottom: 1px solid black;
    width: 20%
   
    
}


label{
       
    display: inline-block;
    text-align: right
  }
  /* input[type=submit]:hover,input[type=reset]:hover {
    color: #039be5;
    background-color: #cfd8dc;
  } */

  div{
    text-align: center;
    margin-top: 2%;
    position: relative;
    
  }
  input[type=submit]{    
    position: relative;
    right: 80px;
    border-radius: 20px;
    width: 8%;
    background-color: transparent;
    border-color: #3399FF;
    color:#3399FF;
    
  }
  .terms{
  
    position: relative;
    right: 80px;
  
  }

  input[type=checkbox]:checked{
      background-color: #3399FF;
  }